<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Name Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name" />
        <mat-error *ngIf="transactionForm.get('name')?.hasError('required')">
          Name is required!
        </mat-error>
      </mat-form-field>

      <!-- Amount Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput formControlName="amount" type="number" placeholder="Amount" [min]="0.01" />
        <mat-error *ngIf="transactionForm.get('amount')?.hasError('required')">
          Amount is required!
        </mat-error>
        <mat-error *ngIf="transactionForm.get('amount')?.hasError('min')">
          Amount must be greater than 0!
        </mat-error>
      </mat-form-field>

      <!-- Category Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of transactionCategories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('categoryId')?.hasError('required')">
          Category is required!
        </mat-error>
      </mat-form-field>

      <!-- Type Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="typeId">
          <mat-option *ngFor="let type of transactionTypes" [value]="type.id">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('typeId')?.hasError('required')">
          Type is required!
        </mat-error>
      </mat-form-field>

      <!-- Date Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [min]="minDate"
          [max]="maxDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="transactionForm.get('date')?.hasError('required')">
          Date is required!
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!transactionForm.valid">
        Add Transaction
      </button>
    </mat-card-actions>
  </mat-card>
</form>
