.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: white;
}
.user-select .mdc-text-field .mat-mdc-form-field .mdc-notched-outline  {
  display: none;
  border-style: none;
  color: white;
  opacity: 0;
}

mat-form-field {
  color: white;
  border-style: none;
}
