<mat-toolbar color="primary" class="header-toolbar">
  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/transactions" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        Transaction List
      </button>
      <button mat-menu-item routerLink="/add" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        Add transaction
      </button>
      <button mat-menu-item routerLink="/categories" routerLinkActive="active">
        <mat-icon>category</mat-icon>
        Category
      </button>
    </mat-menu>
  </div>
  <span class="app-name">Expense Tracker Application</span>
  <span class="spacer"></span>
  <div class="total-container">
    <span class="total-label">Balance:</span>
    <span class="total-amount">{{ totalAmount | currency }}</span>
  </div>
  <span class="spacer"></span>
  <span class="user-select">
    <mat-form-field>
      <mat-select [(ngModel)]="activeUser" (selectionChange)="onUserChange($event)">
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</mat-toolbar>
