.table-container {
  width: 100%;
  margin: 20px 0;
}

.mat-table {
  width: 100%;
}

.mat-header-row, .mat-row {
  height: 48px;
}

.mat-sort-header-container {
  justify-content: flex-start;
}

.header-with-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.filter-input {
  max-width: 100%;
  font-size: 12px;
  padding: 4px;
}

.mat-mdc-footer-cell {
  font-weight: bold;
  background-color: #f1f1f1;
}
